<%- include('./components/header.ejs'); %>

<body>
    <%- include('./components/nav.ejs'); %>

    <main class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas, natus libero necessitatibus magnam facilis aut rerum, harum debitis velit similique nesciunt sit itaque soluta fuga repellendus veniam ullam blanditiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni quisquam iste cumque dicta doloremque. Tenetur.</p>
    </main>
</body>

<%- include('./components/footer.ejs'); %>