<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Blog</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Node.js Blog</h1></a>
        </div>
        <ul>
            <li><a href="/">Posts</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/posts/create">New Post</a></li>
        </ul>
    </nav>

    <main class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas, natus libero necessitatibus magnam facilis aut rerum, harum debitis velit similique nesciunt sit itaque soluta fuga repellendus veniam ullam blanditiis?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni quisquam iste cumque dicta doloremque. Tenetur.</p>
    </main>
</body>
</html>