<%- include('./components/header.ejs'); %>

<body>
    <%- include('./components/nav.ejs'); %>

    <main class="create-post content">
        <h2>Create a post</h2>
        <form>
            <label for="post-title">Post title:</label>
            <input type="text" name="post-title" id="post-title" required>
            <label for="post-snippet">Post snippet:</label>
            <input type="text" name="post-snippet" id="post-snippet" required>
            <label for="post-body">Post body:</label>
            <textarea name="post-body" id="post-body" cols="30" rows="10" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>

<%- include('./components/footer.ejs'); %>